body {
    background-color: rgb(30, 30, 30);
    color: ghostwhite;
    font-size: 15px;
    line-height: normal;
    font-family: "Ubuntu", serif;
    font-weight: 500;
}
footer{
    position: absolute;
}
.top {;
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid gray 1px;
    border-left: solid gray 1px;
    border-right: solid gray 1px;
    border-radius: 0 0 10px 10px;
    box-shadow: 10px 5px 5px black;
}

.top__logo {
    margin-right: 2%;
    margin-left: 1%;
}

.top__navbar {
    margin-left: auto;
    margin-right: 1%;
}




    .news {
        border-left: solid black 1px;
        padding: 10px;
        max-width: 30%;
}
    .news__list{
        display: grid;
        border: solid rgba(70,70, 70,0.62) 1px;
    }

    .news__list > div:nth-child(odd) {
        background-color: rgba(35,35,35,0.62);
    }
    .news__list > div:nth-child(even) {
        background-color: rgba(25,25,25,0.62);
    }
    .news__list > div{
        border: solid rgba(70,70, 70,0.62) 1px;
    }
    .news > h4{
        border-bottom: solid rgba(70,70, 70,0.62) 1px;
        padding-bottom: 5px;
    }

@media not screen  and (min-width: 720px){
    .news{
        display: none;
    }
}



.infomation__introduction {
}

.information__aboutwiki {
    border-top: solid black 1px;
}

.usefulquote {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 2%;
}

main {
    display: flex;
    justify-content: end;
    background-color: rgba(43,43,43,0.62);
    border-top: solid black 1px;
    border-bottom: solid lightgray 1px;
}

.information {
    display: flex;
    flex-direction: column;
    min-width: 70%;
}

.ascii_art{
display: none;
}

.information__sections{
}
footer{
    color: gray;
}